<div class="container-fluid bg01 background-image">
  <div class="row">
    <div class="mx-auto">
      <div class="main-visual">
        <h1 class="text-white my-5">ESportsUnity</h1>
        <div class="main-visual__box-1">
          <div class="main-visual__box-1-content-1">
            <!-- 追加のコンテンツがあればここに -->
          </div>
          <div class="top-wrapper">
            <!-- 追加のコンテンツがあればここに -->
          </div>
          <div class="main-visual__box-1-content-2 text-center">
            <p class="text-white">好きなゲームチームを</p>
            <h3 class="text-white">応援しよう</h3>
            <h3 class="text-white">共有しよう</h3>
            <h3 class="text-white">語り合おう</h3>
          </div>
        </div>

        <div class="main-visual__box-2 text-center">
          <div class="main-visual__notifications">
            <!-- 通知エリアなどがあればここに -->
          </div>
          <div class="main-visual__box-2-content-1 d-grid gap-2">
            <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn btn-warning' %>
            <br><br><br><br>
            <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-info mt-4' %>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="mx-auto">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </div>
</footer>
