
<div class="container-fluid img-fluid-content">
 <div class="row">    
  <!--<div class="mx-auto">-->
  <div class="main-top">
   <div class="about-title ">
    <span class="text-white h1">About
     <small class="text-white h3">- ESport unity について -</small>
    </span>     
   </div>
    <div class="row">
     <div class="col-lg-6">
       <div class="main-visual__box-3">
        <h2 class="text-white my-5", style="text-align: center;">ESport unity とは</h2>
         
          <div class="images" style="text-align: center;"><%= image_tag 'about.jpg', size:"500x300" %></div>
          <br>
      </div>
     </div>
     <div class="col-lg-6 my-5 about-text">
      <div class="main-visual__box-3">
       <div class="text-white my-5" style="font-size: 22px; text-align: center;">
         プロ選手や所属チームの情報について検索できたり、チャット機能を通じてファン同士の交流ができるファンコミュニティサイトです。<br><br>
         みんなでグループチャットや投稿を通して選手やチームを応援し、e-sports界隈を一緒に盛り上げましょう！！！！<br>
         <p style="font-size: 30px;"></div>
      </div>
      </div>
   </div>
   </div>
  </div>
 </div>
</div> 
