<div class="container">
  <div class="row">
  <div class="mx-auto">
<div class='main-visual'>
<h1>ESportsUnity</h1>
<div class='main-visual__box-1'>
 <div class='main-visual__box-1-content-1'>
 
 </div>
 <div class='main-visual__box-1-content-2'>
  <p>好きなゲームチームを</p>
  <h3>応援しよう</h3>
  <h3>共有しよう</h3>
  <h3>語り合おう</h3>
 </div>
</div>

<div class='main-visual__box-2'>
  <div class='main-visual__notifications'>
  </div>
  <div class='main-visual__box-2-content-1'>
    <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn btn-warning' %>
    <br>
    <br>
    or
    <br>
    <br>
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-info' %>
    <br>
    <br>
  </div>
 </div>
</div>
</div>
</div>
</div>