.main-visual {
padding: 200px 0 100px;
text-align: center;
position: absolute;
top: 0;
width: 100%;
height: auto;
min-height: 100%;
background-image: url('app/asset/image/Esports.jpg');
background-size: cover;
}
