@use '~bootstrap/scss/bootstrap';

.line-height {
   line-height: 50px; 
   margin-left: 50px;
}
 
 .post-user-names {
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
 }
 
 .posts-user-names {
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 50px;
   padding-right: 50px;
 }
 
 header {
  background-clolor: #000011;
 }
 .post-edit {
  padding-left: auto;
 }
 
 body  {
   background-color: #333333;
   //background-image: url(Esports.jpg) center center / cover no-repeat fixed;
 }
.search-nav {
  margin: 20px;
}

.main-visual__box-3 {
  margin: center;
}
.text-form {
  flex-grow: 3S;
}
.comment-form {
  background-color: rgb(255,255,255);
}
.about-title {
 margin-left: 3rem;
 margin-top: 3rem;
 width: 100%;
 border-bottom: 1px solid;
 border-bottom-color: red;
}
.main-top {
 width: 100%;
}
div.field_with_errors {
 background-color: #fcc;
 padding: 2px;
}
#error_explanation {
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.new-post-link {
 border: 1px; 
 width: 78px;
 background-color: blue;
 border-radius: 50px;
 height: min-content;
 text-align: center;
 position: sticky;
 top: 20px;
 z-index: 100;
}
.back-ground {
 background-color: #222222;
 background-size: cover;
 min-height:  100vh;
}
.scroll-bar {
 width: max-content;
 height: 500px;
 overflow-y: auto;
}
@media screen and (max-width: 600px) {
  .rounded-circle{
   // width: 50px;
    //height: 50px;
  }
 h1 {
  max-width: 100%;
 }
.line-height {
   line-height: 40px; 
   margin-left: 30px;
}
 .posts-user-names {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   padding-right: 10px;
 }
.post-text-item {
  width: 100%;
}

f.text_area {
 width: 100%;
 height: 100px;
}
.posts-index-item {
 width: auto;    
}
.card {
 min-width: 100%;
}
.image {
height: 300px;
width: 300px;
}
.about-title {
 max-width: auto;
 margin: 0;
}
.text-form {
 max-width: 100%;
}

}