<div class='container-fluid'>
<div class="row">
 <div class="col-md-12 bg-white my-5">
<h1 class="text-dark">全ユーザー一覧</h1>
  <table class="comment-form table table-hover table-inverse">
    <thead>
      <tr>
        <th>プロフ画像</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
<tbody>
  <% @users.each do |user| %>
  <tr>
     <td>
         <%= image_tag user.get_profile_image, size: "50x50" %>
       </td>
          <td> <%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to '削除', admin_user_path(user), method: :delete, date: { confirm: '本当に削除しますか?'}, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>